<% include partials/header.ejs %>
        <h1> Welcome to Mercury </h1>        
        <img src="/img/mercury.jpg" alt="The Planet Mercury" /> <br>
        Mercury
        
        The planet Mercury, innermost world of our solar system.
        
        The closest planet to the sun, Mercury is only a bit larger than Earth's moon. Its day side is scorched by the sun and can reach 840 degrees Fahrenheit (450 Celsius), but on the night side, temperatures drop to hundreds of degrees below freezing. Mercury has virtually no atmosphere to absorb meteor impacts, so its surface is pockmarked with craters, just like the moon. Over its four-year mission, NASA's MESSENGER spacecraft has revealed views of the planet that have challenged astronomers' expectations.

        Discovery: Known to the ancients and visible to the naked eye
        Named for: Messenger of the Roman gods
        Diameter: 3,031 miles (4,878 km)
        Orbit: 88 Earth days
        Day: 58.6 Earth days
<% include partials/footer.ejs %>